<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.weareact.nfcsuppressor" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NFCSuppressor</name>
    <js-module name="NFCSuppressor" src="www/NFCSuppressor.js">
        <clobbers target="NFCSuppressor" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NFCSuppressor">
                <param name="android-package" value="com.weareact.nfcsuppressor" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="New Activity" android:name="com.weareact.NewActivity"></activity>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/NFCSuppressor.java" target-dir="src/com/weareact/nfcsuppressor/plugin" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/weareact/nfcsuppressor/plugin" />
        <source-file src="src/android/activity_new.xml" target-dir="res/layout"/>
    </platform>
</plugin>
